<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  
  <body>  
    <h1>Game Reminder</h1>
    Location: <%= @game.location %><br>
    Time: <%= @game.game_time.strftime("%a %b %d %I:%M %p")  %><br>
    Opponent: <%= @game.opponent %><br>
    <p><%= @game.note %></p>
    <p><%= @schedule.note %></p>
    <br>
    <p>Please indicate if you are playing or not playing by clicking on the appropriate link below.</p>
    <%= link_to "Playing", playing_url(:player_id => @player.id, :game_id => @game.id, :host => 'team-manager.heroku.com') %>
    <br>
    <%= link_to "Not Playing", not_playing_url(:player_id => @player, :game_id => @game.id, :host => 'team-manager.heroku.com') %>
  </body> 
</html>
