<h1>New User Registration</h1>
<% form_for(@user, :url => {:controller => 'admin', :action => 'register'}) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Enter Registration Details</legend>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 40 %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.submit 'Register' %>
  </p>
  </fieldset>
<% end %>

<%= link_to 'Back', :controller => 'welcome' %>
