<div id='menu'>
  <ul>
    <% if session[:user_id] %>
      <li><%= link_to 'Your Schedules', :controller => 'schedule' %></li>
      <li><%= link_to 'Logout', :controller => 'admin', :action => 'logout' %></li>
    <% else %>
      <li><%= link_to 'Login', :controller => 'admin', :action => 'login' %>
      <li><%= link_to 'Register', :controller => 'admin', :action => 'register' %>
    <% end %>
    <li><%= link_to 'Features', :action => 'features' %></li>
  </ul>
  <p>Special offer: <%= link_to 'register now', :controller => 'admin', :action => 'register' %> through February and receive a free upgrade for a year</p>
</div>
<div id="body">
  <h1>Welcome To Rec Team Captain</h1>
  <p>Welcome to the <em>BETA</em> release of Rec Team Captain. I'm working hard to make it as useful as possible, and I want to thank you for helping try it out.</p>
  <p>Rec Team Captain helps you manage your recreational soccer, softball, basketball, hockey, or any sport teams by automatically reminding players of upcoming games. Currently it emails all your players 4 days before each game.</p>
  <p>It can also remind players in your billiards, dart, or bowling league</p>
  <h3>Getting Started</h3>
  <dl>
    <dt>Register</dt>
    <dd>After filling out the registration information, you will be sent an email with a link to follow. Click on the link in the email and it will take you to the login page.</dd>
    <dt>Add players</dt>
    <dd>Click on the Players link to add player's names and emails.<dd>
    <dt>Add games</dt>
    <dd>Click on the Games link to add games.</dd>
  </dl>
  <h3>New Features</h3>
  <ul>
    <li>Team captain can send messages to all players</li>
    <li>Reminder emails have two links, playing and not playing, so players can indicate if they will be at the game.</li>
    <li>The games list has a playing status link so you can see who has responded and if they are playing.</li>
  </ul>
</div>
