<div id='menu'>
  <ul>
    <li><%= link_to 'About', :action => 'about' %></li>
    <li><%= link_to 'Features', :action => 'features' %></li>
    <% if session[:user_id] %>
      <li><%= link_to 'Logout', :controller => 'admin', :action => 'logout' %></li>
    <% else %>
      <li><%= link_to 'Login', :controller => 'admin', :action => 'login' %>
      <li><%= link_to 'Register', :controller => 'admin', :action => 'register' %>
    <% end %>
  </ul>
</div>
<div id="body">
  <% if session[:user_id] %>
    <%= render :partial => "index_logged_in", :locals => {:games => @games, :players => @players} %>
  <% else %>
    <%= render :partial => "index_not_logged_in" %>
  <% end %>
</div>
