<div id="head">
</div>
<div id='menu'>
  <ul>
    <% if session[:user_id] %>
      <li><%= link_to 'Players', :controller => 'players' %></li>
      <li><%= link_to 'Games', :controller => 'games' %></li>
      <li><%= link_to 'Logout', :controller => 'admin', :action => 'logout' %></li>
    <% else %>
      <li><%= link_to 'Login', :controller => 'admin', :action => 'login' %>
      <li><%= link_to 'Register', :controller => 'admin', :action => 'register' %>
    <% end %>
  </ul>
</div>
<div id="body">
<h1>Welcome To Rec Team Captain</h1>
<p>The one stop place to manage your recreational schedule and team.</p>
<dl>
  <dt>What does it do?</dt>
  <dd>Rec Team Manager can email your team before games so you don't have to</dd>
</dl>
To get started once you've registered, use the players link to manage your team and the games link to manage your games. Emails will be sent out 4 days prior to each game to each player.
</div>
