<div id='menu'>
  <ul>
    <li><%= link_to 'Show', @game %><br></li>
    <li><%= link_to 'Back', :home %></li>
  </ul>
</div>
<div id='body'>
<h1>Editing game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :game_time %><br />
    <%= f.datetime_select :game_time %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :opponent %><br />
    <%= f.text_field :opponent %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>
