<%= stylesheet_link_tag 'playing_status' %>
<div id='menu'>
  <ul>
    <li><%= link_to "Home", :controller => 'welcome' %></li>
  </ul>
</div>
<div id='body'>
<h1>Playing Status Report</h1>
<h2>Game on <%= @game.game_time.strftime("%a %b %d %I:%M %p")%></h2>
<div id='playing'>
  <ul>
      <lh>Playing</lh>
    <% @playing.each { |player| %>
    <li><%= player.name %></li>
    <% } %>
  </ul>
</div>
<div id='not_playing'>
  <ul>
      <lh>Not Playing</lh>
    <% @not_playing.each { |player| %>
      <li><%= player.name %></li>
    <% } %>
  </ul>
</div>
<div id= 'undecided'>
  <ul>
      <lh>Undecided</lh>
    <% @undecided.each { |player| %>
      <li><%= player.name %></li>
    <% } %>
  </ul>
</div>
</div>
