<%= stylesheet_link_tag 'playing_status' %>
<h1>Playing Status Report</h1>
<h2>Game on <%= @game.game_time.strftime("%a %b %d %I:%M %p")%></h2>
<div id='playing'>
  <table>
    <tr>
      <th>Playing</th>
    </tr>
    <% @playing.each { |player| %>
    <tr><td><%= player.name %></td></tr>
    <% } %>
  </table>
</div>
<div id='not_playing'>
  <table>
    <tr>
      <th>Not Playing</th>
    </tr>
    <% @not_playing.each { |player| %>
      <tr><td><%= player.name %></td></tr>
    <% } %>
  </table>
</div>
<div id= 'undecided'>
  <table>
    <tr>
      <th>Undecided</th>
    </tr>
    <% @undecided.each { |player| %>
      <tr><td><%= player.name %></td></tr>
    <% } %>
  </table>
</div>
<div id='menu'>
  <%= link_to "Back", :controller => 'games' %>
</div>
