<div id='menu'>
  <ul>
    <li><%= link_to 'Edit', edit_game_path(@game) %></li>
    <li><%= link_to 'Back', :home %></li>
  </ul>
</div>
<div id='body'>
<p>
  <b>Game time:</b>
  <%=h @game.game_time.strftime("%a %b %d %I:%M %p") %>
</p>

<p>
  <b>Location:</b>
  <%=h @game.location %>
</p>

<p>
  <b>Opponent:</b>
  <%=h @game.opponent %>
</p>

<p>
  <b>Note:</b>
  <%=h @game.note %>
</p>
</div>
