<div id='menu'>
  <%= link_to 'Back', :action => 'index' %>
</div>
<div id='body'>
<h1>Player Management</h1>

<% form_for(@player, :url => {:action => 'edit'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :reserve %><br />
    <%= f.check_box :reserve %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>
