<h1>Listing players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%=h player.name %></td>
    <td><%=h player.email %></td>
    <td><%= link_to 'Show', :action => 'show', :id => player %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => player %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => player}, {:confirm => 'Are you sure?', :method => :delete} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New player', :action => 'edit' %>
 | 
 <%= link_to 'Schedule', :controller => 'schedule', :action => 'show', :id => session[:schedule_id] %>
 |
 <%= link_to 'Email Players', :action => 'email' %>
 |
 <%= link_to 'Home', :home %>
