<div id='menu'>
  <ul>
    <li><%= link_to 'Edit', edit_player_path(@player) %></li>
    <li><%= link_to 'Back', :home %></li>
  </ul>
</div>
<div id='body'>
<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>
<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>
<p>
  <b>Reserve:</b>
  <%=h @player.reserve ? 'Yes' : 'No' %>
</p>
</div>
