<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Rec Team Captain</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div id='header'>
    <span class='login-links'>
    <% if session[:user_id] %>
      logged in as <%= User.find_by_id(session[:user_id]).email %>
      | <%= link_to "Logout", :logout, :class => 'header' %>
    <% else %>
      <%= link_to "Login", :login, :class => 'header' %> |
      <%= link_to "Register", :register, :class => 'header' %>
    <% end %>
    </span>
    <h1>Rec Team Captain</h1>
  </div>
<p style="color: darkgreen"><%= flash[:notice] %></p>

<%= yield %>

<div id='footer'>
  Rec Team Manager &trade; LMCR Enterprises
</div>
</body>
</html>
